<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="search_box">
  <%= form_with url: products_path, method: :get, local: true do |f|%>
    <%= f.text_field :q %>
    <%= f.submit 'search' %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Area</th>
      <th>Company</th>
      <th>Industry</th>
      <th>State</th>
      <th>Open date</th>
      <th>Close date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.area_id %></td>
        <td><%= product.company_id %></td>
        <td><%= product.industry_id %></td>
        <td><%= product.state %></td>
        <td><%= product.open_date %></td>
        <td><%= product.close_date %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
